@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* * {
    outline: 1px solid #f00;
} */



/* 20220726. tae header */

html {
    font-size: 10px;
}


body {
    overflow-x: hidden;
    font-size: 1.6rem;

}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 120rem;
    margin: 0 auto;
}

.container {
    width: 120rem;
    margin: 0 auto;
}

.header .container {
    position: absolute;
    z-index: 999;
}

.gnb_top {
    display: flex;
    justify-content: space-between;
    line-height: 4.2rem;
    font-size: 1.3rem;
    font-weight: 300;
    color: #ececec;
    border-bottom: 1px solid rgb(238, 238, 238, 0.2);
}

.gnb_top h2 {
    width: 20%;
    filter: opacity(0.7);
}

.gnb_top h2 img {
    width: 180px;
    align-items: center;
    padding: 0 0 4px 0;
}

.gnb_top ul {
    display: flex;
    gap: 2rem;

}

.gnb_top ul:nth-child(2) {
    justify-content: center;
    width: 60%;
}

.gnb_top ul:nth-child(3) {
    justify-content: flex-end;
    width: 20%;
}

.header .gnb {
    display: flex;
    justify-content: space-between;
}

.gnb>ul {
    display: flex;
    gap: 5rem;
}

.gnb .gLeft {
    width: 40%;
}

.gnb h1 {
    text-align: center;
    line-height: 100px;
    width: 20%;
    padding: 0 10px;
}

.gnb h1 img {
    width: 200px;
}

.gnb .gRight {
    justify-content: flex-end;
    width: 40%;
}

.gnb>ul>li>a {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
}

.gnb>ul>li {
    position: relative;
    line-height: 100px;

}

.gnb>ul>li .smenu {
    position: absolute;
    top: 100px;
    left: -50px;
    width: 200px;
    padding: 0 20px;
    /* white-space: nowrap; */
    height: 0;
    overflow: hidden;
    line-height: 1.4;
    transition: 0.5s;
}

.gnb>ul>li:hover .smenu {
    height: 200px;
    background: #fff;
    border: 1px solid #ddd;
}

.gnb>ul>li:hover .smenu {
    background: #fff;
}

.mopen {
    display: none;
}

/* 20220726. tae main_visual */


.main_visual {
    height: 90vh;
    overflow: hidden;
}


/* 20220726. tae notice  */

.notice {
    position: relative;
}

.notice .container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: -150px;
    left: 50%;
    height: 100px;
    gap: 20px;
    padding: 10px 20px;
    transform: translateX(-50%);
    border-radius: 10px;
    background: #fff;
}

.notice .container div {
    padding: 10px 20px;
}

.notice p {
    font-size: 13px;
}

.notice h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.notice .stitle {
    font-size: 13px;
}

.notice strong {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: #134ef6;
}

.notice i {
    display: inline-block;
    line-height: 60px;

}

.notice .rest p:nth-child(2) {
    color: #134ef6;
}

.notice .festival p:nth-child(1) {
    color: #333;
    font-weight: 700;
}

.weather,
.today,
.rest,
.festival,
.congestion,
.water {
    display: flex;
    gap: 20px;
    line-height: 60px;
    font-size: 17px;
}

/* 20220726. tae new_popup  */

.new_popup .container {
    display: flex;
    padding: 100px 0;
    gap: 50px;

}

.new_popup .container .new {
    flex: 1;
    width: 70%;

}

.new_popup .container .new_top {
    display: flex;
    justify-content: space-between;
}

.new_popup .container .new_top .new_tap::before {
    content: "";
    position: absolute;
    right: 310px;
    bottom: 55px;
    width: 370px;
    height: 1px;
    background: #ddd;
}

.new_popup .container .new_top .new_tap {
    position: relative;
    display: flex;
    gap: 30px;
    padding: 3px;

}

.new_popup .container .new_top .new_tap>li {
    list-style: inside;
}

.new_popup .container .new_top .new_tap>li:last-child {
    list-style: none;
    font-size: 21px;
}

.new_popup .container h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.new_popup .container .new_bottom01,
.new_popup .container .new_bottom02 {
    display: flex;
    gap: 50px;
}

.new_popup .container .new_bottom01 div,
.new_popup .container .new_bottom02 div {
    flex: 1;
}

.new_popup .new_bottom01 p:nth-child(1),
.new_popup .new_bottom02 p:nth-child(1) {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.new_popup .new_bottom01 p:nth-child(2),
.new_popup .new_bottom02 p:nth-child(2) {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.5;
    height: 6.0;
    /* 3라인을 자르기 때문에 height는 1.5 * 3 = 4.5 */
}

.new_popup .new_bottom01 p:nth-child(3),
.new_popup .new_bottom02 p:nth-child(3) {
    font-size: 13px;
    font-weight: 300;
    padding: 0 0 0 2px;

}

.new_popup .new_tap li:hover {
    color: #134ef6;
}

.new_popup .bottom>div {
    height: 0;
    visibility: hidden;
}

.new_popup .bottom>div.on {
    height: auto;
    visibility: visible;

}

.popup {
    width: 20%;
}

.popup .banner_slider figure {
    height: 150px;
}

.popup .banner_slider .banner01 {
    background: url(../img/banner01.jpg) no-repeat center center/cover;
}

.popup .banner_slider .banner02 {
    background: url(../img/banner02.jpg) no-repeat center center/cover;
}

.popup .banner_slider .banner03 {
    background: url(../img/banner03.jpg) no-repeat center center/cover;
}

.popup .banner_slider .banner04 {
    background: url(../img/banner04.jpg) no-repeat center center/cover;
}

.quick_menu .container {
    display: flex;
    background: #134ef6;
    border-bottom-right-radius: 30px;

}

.quick_menu .container>div {
    gap: 100px;
}

.quick_txt {
    display: flex;
    gap: 30px;
    color: #fff;
    z-index: 999;
}

.quick_menu h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 100px;
    margin-left: 180px;
}

.quick_menu .container i {
    display: inline-block;
    line-height: 100px;
    margin-right: 10px;
    font-size: 19px;
    color: #f8f8f8;
}

.quick_menu .container a {
    display: flex;
    position: relative;
    line-height: 100px;
}

.quick_menu .container a~a::before {
    content: "";
    top: 44px;
    left: -50px;
    width: 2px;
    height: 13px;
    position: absolute;
    background: #5380fc;
}

.quick_menu .container p {
    font-size: 15px;
    font-weight: 300;
}


.quick_menu .character {
    position: relative;
    display: flex;
}

.quick_menu .character>figure {
    position: absolute;
    bottom: 0px;
    left: -5px;
    width: 150px;
    height: 170px;
    background: url(../img/kb_character02.png) no-repeat center center/cover;
}

/* 20220727 tae attraction */
.attraction {
    position: relative;
    padding: 100px 0;
    text-align: center;
}

.attraction .slide_cover {
    position: absolute;
    top: 50%;
    left: calc(50% - 600px);
    width: 100%;
    transform-origin: left;
    /* margin: 0 auto; */
}

.attraction>.container>p {
    font-size: 15px;
    margin: 0 0 10px 0;
}

.attraction h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.attraction .attraction_slide .slick-active {
    padding: 50px 0;
}

.attraction .attraction_slide .itm_num {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    color: #ddd;
    text-align: left;
}

.attraction .attraction_slide figure {
    width: 285px;
    height: 200px;
}


.attraction .attraction_slide .itm01 {
    background: url(../img/itm01.jpg) no-repeat center center/cover;
    box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
}

.attraction .attraction_slide .itm02 {
    background: url(../img/itm02.jpg) no-repeat center center/cover;
    box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
}

.attraction .attraction_slide .itm03 {
    background: url(../img/itm03.jpg) no-repeat center center/cover;
    box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
}

.attraction .attraction_slide .itm04 {
    background: url(../img/itm04.jpg) no-repeat center center/cover;
    box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
}

.attraction .attraction_slide .itm05 {
    background: url(../img/itm05.jpg) no-repeat center center/cover;
    box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
}

.attraction .attraction_slide .itm06 {
    background: url(../img/itm06.jpg) no-repeat center center/cover;
    box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
}

.attraction .attraction_slide .itm_txt {
    width: 285px;
    height: 170px;
    padding: 25px 15px;
    background: #fff;
    box-shadow: 4px 6px 10px #ddd;
}

.attraction .attraction_slide h4 {
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.attraction .attraction_slide .itm_txt p:nth-of-type(1) {
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 20px 0;
    line-height: 1.4;
}

.attraction .attraction_slide .itm_txt p:nth-of-type(2) {
    font-size: 13px;
    font-weight: 300;

}


@media (max-width:1200px) {

    .attraction {
        position: relative;
        padding: 100px 0;
        text-align: center;
    }

    .attraction .slide_cover {
        position: static;
        width: 1200px;
        margin: 0 auto;
        transform-origin: center;
        overflow: hidden;
    }

}


@media (max-width:768px) {
    html {
        font-size: 10px;
    }


    body {
        overflow-x: hidden;
        font-size: 1.6rem;

    }

    .header {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
    }

    .container {
        width: auto;
        margin: 0 auto;
    }

    .header .container {
        position: absolute;
        z-index: 999;
    }

    .gnb_top {
        display: flex;
        justify-content: space-between;
        line-height: 4.2rem;
        font-size: 1.3rem;
        font-weight: 300;
        color: #ececec;
        border-bottom: 1px solid rgb(238, 238, 238, 0.2);
    }

    .gnb_top h2 {
        display: none;
    }

    .gnb_top h2 img {
        width: 180px;
        align-items: center;

    }

    .gnb_top ul {
        display: none;
    }

    .gnb_top ul:nth-child(2) {
        justify-content: center;
        width: 60%;
    }

    .gnb_top ul:nth-child(3) {
        justify-content: flex-end;
        width: 20%;
    }

    .header .gnb ul {
        position: fixed;
        display: flex;
        flex-direction: column;
        line-height: 30px;
        padding: 100px 15px 0 15px;
        transition: 0.5s;
        z-index: 999;
    }

    .header .gnb>ul:nth-of-type(1) {
        top: 0;
        left: -100%;
        width: calc(100% - 90px);
        height: 100vh;
        background: #333;
    }

    .header .gnb>ul:nth-of-type(2) {
        top: 50%;
        left: -100%;
    }

    .header .gnb.on>ul:nth-of-type(1) {
        left: 0;
    }

    .header .gnb.on>ul:nth-of-type(2) {
        left: 0;
    }

    .gnb .gLeft {
        width: auto;
        z-index: 999;
    }

    .gnb h1 {
        position: absolute;
        top: 0;
        left: 30%;
        text-align: center;
        line-height: 100px;
        width: 180px;
    }

    .gnb .gRight {
        width: auto;
        z-index: 999;
    }

    .gnb>ul>li>a {
        display: block;
        font-size: 1.3rem;
        font-weight: 300;
        color: #fff;
    }

    .gnb>ul>li {
        position: relative;
        line-height: 30px;

    }

    .gnb>ul>li .smenu {
        position: static;
        top: 0;
        left: 0;
        width: 200px;
        padding: 0 20px;
        /* white-space: nowrap; */
        height: 0;
        overflow: hidden;
        line-height: 1.4;
        transition: 0.5s;
    }


    .gnb>ul>li:hover .smenu {
        display: none;
        height: 200px;
        background: #fff;
        border: 1px solid #ddd;
    }

    .gnb>ul>li:hover .smenu {
        display: none;
        background: #fff;
    }

    .mopen {
        display: block;
        position: fixed;
        top: 30px;
        right: 10px;
        line-height: 1;
        width: 50px;
        height: 45px;
        border-radius: 5px;
        align-items: center;
        background: #ddd;
    }

    .hamburger--boring {
        padding: 11px 5px;
    }

    /* 20220726. tae main_visual */


    .main_visual {
        height: 60vh;
        overflow: hidden;
    }


    /* 20220726. tae notice  */

    .notice {
        display: block;
        position: relative;
    }

    .notice .container {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px;
        border-radius: 10px;
        background: rgb(255, 255, 255);
        box-shadow: 0 0 3px #999;
    }

    /* .notice .container {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: -150px;
        left: 50%;
        height: 100px;
        gap: 20px;
        padding: 10px 20px;
        transform: translateX(-50%);
        border-radius: 10px;
        background: #fff;
    } */


    .notice .container div {
        padding: 0;
    }

    .notice p {
        font-size: 13px;
    }

    .notice h4 {
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        font-weight: 700;
    }

    .notice .stitle {
        font-size: 13px;
    }

    .notice strong {
        font-family: 'Open Sans', sans-serif;
        font-size: 19px;
        font-weight: 700;
        color: #134ef6;
    }

    .notice i {
        display: inline-block;
        line-height: 20px;

    }

    .notice .rest p:nth-child(2) {
        color: #134ef6;
    }

    .notice .festival p:nth-child(1) {
        color: #333;
        font-weight: 700;
    }

    .weather,
    .today,
    .rest,
    .festival,
    .congestion,
    .water {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        gap: 10px;
        line-height: 20px;
        font-size: 17px;
        z-index: 999;
    }

    .notice .today .stitle {
        display: none;
    }

    .notice .today strong:nth-of-type(2) {
        display: none;
    }



    /* 20220726. tae new_popup  */

    .new_popup .container {
        display: flex;
        flex-direction: column;
        padding: 100px 0;
        gap: 50px;

    }

    .new_popup .container .new {
        flex: 1;
        width: auto;
        padding: 20px;

    }

    .new_popup .container .new_top {
        display: flex;
    }

    .new_popup .container .new_top .new_tap::before {
        display: none;
        position: absolute;
        right: 310px;
        bottom: 55px;
        width: 370px;
        height: 1px;
        background: #ddd;
    }

    .new_popup .container .new_top .new_tap {
        position: relative;
        display: flex;
        gap: 30px;
        padding: 3px;

    }

    .new_popup .container .new_top .new_tap>li {
        list-style: inside;
    }

    .new_popup .container .new_top .new_tap>li:last-child {
        list-style: none;
        font-size: 21px;
    }

    .new_popup .container h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-weight: 700;
        margin: 0 0 40px 0;
    }

    .new_popup .container .new_bottom01,
    .new_popup .container .new_bottom02 {
        display: flex;
        gap: 50px;
    }

    .new_popup .container .new_bottom01 div,
    .new_popup .container .new_bottom02 div {
        flex: 1;
    }

    .new_popup .new_bottom01 p:nth-child(1),
    .new_popup .new_bottom02 p:nth-child(1) {
        font-size: 19px;
        font-weight: 400;
        line-height: 1.5;
        margin: 0 0 20px 0;
    }

    .new_popup .new_bottom01 p:nth-child(2),
    .new_popup .new_bottom02 p:nth-child(2) {
        font-size: 15px;
        font-weight: 300;
        margin: 0 0 20px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 1.5;
        height: 6.0;
        /* 3라인을 자르기 때문에 height는 1.5 * 3 = 4.5 */
    }

    .new_popup .new_bottom01 p:nth-child(3),
    .new_popup .new_bottom02 p:nth-child(3) {
        font-size: 13px;
        font-weight: 300;
        padding: 0 0 0 2px;

    }

    .bottom .new_bottom01 .new_txt:last-child {
        display: none;
    }

    .bottom .new_bottom02 .new_txt:last-child {
        display: none;
    }


    .new_popup .new_tap li:hover {
        color: #134ef6;
    }

    .new_popup .bottom>div {
        height: 0;
        visibility: hidden;
    }

    .new_popup .bottom>div.on {
        height: auto;
        visibility: visible;

    }

    .popup {
        width: auto;
        padding: 20px;

    }

    .popup .banner_slider figure {
        height: 200px;
    }

    .popup .banner_slider .banner01 {
        background: url(../img/banner01.jpg) no-repeat center center/cover;
    }

    .popup .banner_slider .banner02 {
        background: url(../img/banner02.jpg) no-repeat center center/cover;
    }

    .popup .banner_slider .banner03 {
        background: url(../img/banner03.jpg) no-repeat center center/cover;
    }

    .popup .banner_slider .banner04 {
        background: url(../img/banner04.jpg) no-repeat center center/cover;
    }



    .quick_menu .container {
        display: block;
        background: inherit;
        border-bottom-right-radius: 0;
    }

    .quick_menu .container>div {
        gap: 0;
    }

    .quick_txt {
        position: fixed;
        display: flex;
        flex-direction: column;
        /* gap: 100px; */
        bottom: 10px;
        right: 10px;
        color: #fff;
    }

    .quick_menu h3 {
        display: none;
        font-size: 21px;
        font-weight: 700;
        line-height: 100px;
        margin-left: 180px;
    }

    .quick_menu .container i {
        display: inline-block;
        line-height: 50px;
        margin: 0 auto;
        font-size: 19px;
        color: #f8f8f8;
        z-index: 999;
    }

    .quick_menu .container a {
        height: 50px;
        width: 50px;
        margin: 0 0 5px 0;
        border-radius: 25px;
        background: #134ef6;
        z-index: 999;
    }

    .quick_menu .container a:hover>p {
        display: block;
    }

    .quick_menu .container a~a::before {
        display: none;
        content: "";
        top: 44px;
        left: -50px;
        width: 2px;
        height: 13px;
        position: absolute;
        background: #5380fc;
    }

    .quick_menu .container p {
        display: none;
        position: absolute;
        top: 0;
        right: 25px;
        width: 150px;
        height: 50px;
        font-size: 15px;
        font-weight: 300;
        line-height: 50px;
        text-align: center;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        background: #134ef6;
    }


    .quick_menu .character {
        position: relative;
        display: none;
    }

    .quick_menu .character>figure {
        position: absolute;
        bottom: 0px;
        left: -5px;
        width: 150px;
        height: 170px;
        background: url(../img/kb_character02.png) no-repeat center center/cover;
    }

    /* 20220727 tae attraction */
    .attraction {
        position: relative;
        padding: 0 20px;
        text-align: center;
    }

    .attraction .slide_cover {
        position: absolute;
        width: auto;
        left: 20%;
        width: 100vh;
        transform-origin: left;
        /* margin: 0 auto; */
    }

    /* .attraction .slide_cover {
        position: absolute;
        top: 50%;
        left: calc(50% - 600px);
        width: 100vh;
        transform-origin: left;
        /* margin: 0 auto; } */

    .attraction>.container>p {
        font-size: 15px;
        margin: 0 0 10px 0;
    }

    .attraction h3 {
        font-size: 25px;
        font-weight: 700;
        margin: 0 0 40px 0;
    }

    .attraction .attraction_slide .slick-active {
        padding: 50px 0;
    }

    .attraction .attraction_slide .itm_num {
        font-size: 40px;
        font-weight: 900;
        margin: 0 0 20px 0;
        color: #f1f1f1;
        text-align: left;
    }

    .attraction .attraction_slide figure {
        width: 285px;
        height: 200px;
    }


    .attraction .attraction_slide .itm01 {
        background: url(../img/itm01.jpg) no-repeat center center/cover;
        box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
    }

    .attraction .attraction_slide .itm02 {
        background: url(../img/itm02.jpg) no-repeat center center/cover;
        box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
    }

    .attraction .attraction_slide .itm03 {
        background: url(../img/itm03.jpg) no-repeat center center/cover;
        box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
    }

    .attraction .attraction_slide .itm04 {
        background: url(../img/itm04.jpg) no-repeat center center/cover;
        box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
    }

    .attraction .attraction_slide .itm05 {
        background: url(../img/itm05.jpg) no-repeat center center/cover;
        box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
    }

    .attraction .attraction_slide .itm06 {
        background: url(../img/itm06.jpg) no-repeat center center/cover;
        box-shadow: 4px 6px 10px rgb(51, 51, 51, 0.2);
    }

    .attraction .attraction_slide .itm_txt {
        width: 285px;
        height: 170px;
        padding: 25px 15px;
        background: #fff;
        box-shadow: 4px 6px 10px #ddd;
    }

    .attraction .attraction_slide h4 {
        font-size: 17px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }

    .attraction .attraction_slide .itm_txt p:nth-of-type(1) {
        font-size: 13px;
        font-weight: 300;
        margin: 0 0 20px 0;
        line-height: 1.4;
    }

    .attraction .attraction_slide .itm_txt p:nth-of-type(2) {
        font-size: 13px;
        font-weight: 300;
    }
}