@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    --outline: 1px solid #f00;
}

html {
    font-size: 10px;
}

body {
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Lato', sans-serif; */
}

:root {
    --gl: #dee2e6;
    --bc: #212529;
}

/* css */

.container {
    width: 120rem;
    margin: 0 auto;
}

h1 img {
    max-width: 160px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: var(--bc);
}

p {
    letter-spacing: -0.025em;
    font-size: 15px;
    margin: 0 0 30px 0;
    color: var(--bc);
}

.Header .top {
    text-align: center;
    line-height: 100px;
    font-size: 0;
    border-bottom: 1px solid var(--gl);
}

.Header .top .container {
    display: flex;
    justify-content: space-between;
}


.Header .Gnb {
    line-height: 50px;
    padding: 5px 0 0 0;
    border-bottom: 1px solid var(--gl);
}

.Gnb .container {
    position: relative;
}

.Gnb .menu {
    display: flex;
    justify-content: space-between;
}

/* 인라인 요소들은 높이를 줘도 흘러넘쳐있다. overflow hidden.. 이제 기억할꺼지..? */
.Gnb .smenu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 999;
    background: #fff;
}

.Gnb .smenu>li {
    overflow: hidden;
}

.Gnb .menu>li>a:hover+.smenu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    height: 220px;
    z-index: 999;
    background: #fff;
}

.Gnb .smenu::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 0;
    background: #fff;
}

.Gnb .smenu::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 0;
    background: #fff;
}

.Gnb .menu>li>a:hover+.smenu::before,
.Gnb .menu>li>a:hover+.smenu::after {
    height: 220px;
}

/* Gnb font-size */
.Gnb .tit {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--bc);
}

.Gnb .stit {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--bc);
}

.Gnb .smenu>li>ul>li {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
}

.main {}

/* slick에 margin 줄 때 */
.slick-list {
    margin: 0 -15px;
}

.slick-slide {
    margin: 0 15px;
}

/* .MainVisual .mainSlider .main01 {
    background: url(../img/main_visual01.jpg) no-repeat center center/cover;
}

.MainVisual .mainSlider .main02 {
    background: url(../img/main_visual02.jpg) no-repeat center center/cover;
}

.MainVisual .mainSlider .main03 {
    background: url(../img/main_visual03.jpg) no-repeat center center/cover;
}

.MainVisual .mainSlider .main04 {
    background: url(../img/main_visual04.jpg) no-repeat center center/cover;
} */

.Salon {
    padding: 150px 0;

}

.Salon figure {
    width: 600px;
    height: 400px;
    transform: scale(1);
}

.Salon .ardor .a01 {
    background: url(../img/a01.jpg) no-repeat center center/cover;
}

.Salon .ardor .a02 {
    background: url(../img/a02.jpg) no-repeat center center/cover;
}

.Salon .ardor .a03 {
    background: url(../img/a03.jpg) no-repeat center center/cover;
}

.Salon .room .r01 {
    background: url(../img/r01.jpg) no-repeat center center/cover;
}

.Salon .room .r02 {
    background: url(../img/r02.jpg) no-repeat center center/cover;
}

.Salon .room .r03 {
    background: url(../img/r03.jpg) no-repeat center center/cover;
}

.Salon .room .r04 {
    background: url(../img/r04.jpg) no-repeat center center/cover;
}

.Salon .container {
    position: relative;
    overflow-x: hidden;
}

.Salon .miniSlider figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Salon .inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Salon strong {
    font-size: 25px;
    margin: 0 0 30px 0;
    color: #333;
}

.Salon a {
    display: inline-block;
    letter-spacing: -0.025em;
    color: var(--bc);
    padding: 10px 20px;
    border: 1px solid rgba(51, 51, 51, 0.8);
    font-size: 15px;
    font-weight: 500;
}

.Salon a:hover {
    border: 1px solid var(--bc);
    background: var(--bc);
    color: #ddd;
}

.ardor .txt {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 600px;
    height: 400px;
    padding: 0 15px;
    background: #fff;
    border-bottom: 1px solid var(--gl);
}

.room {
    padding: 100px 0 0 0;
}

.room .txt {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 600px;
    height: 400px;
    padding: 0 15px;
    background: #fff;
    border-bottom: 1px solid var(--gl);
    z-index: 999;
}

.Style {
    position: relative;
    padding: 0 0 150px 0;
}

.Style h2,
.Style p {
    text-align: right;
}

.Style .container:nth-child(2) {
    display: flex;
    gap: 30px;
    width: calc((100% - 1200px) / 2 + 1200px);
    margin: 0 0 0 auto;
    /* flex-direction: row;
    text-align: center; */
}

.Style .left {
    width: 30%;
    overflow: hidden;
}

.Style .right {
    position: relative;
    width: 70%;
    overflow: hidden;
    border-bottom: 1px solid var(--gl);
}

.Style .right .rightSlider {
    position: relative;
    width: 120%;
}

.right .rightSlider>.slide {
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    visibility: hidden;
}

.right .rightSlider>.slide.on {
    visibility: visible;
    overflow: hidden;
}

.Style .leftSlider .inner {
    height: 650px;
}

.Style .leftSlider .inner h3 {
    text-align: center;
    line-height: 650px;
    font-size: 95px;
    font-weight: 500;
    color: rgb(255, 255, 255, 0.4);

}

.Style .leftSlider figure {
    height: 650px;
}

.Style .leftSlider .left01 {
    background: url(../img/short.jpg) no-repeat center center/cover;
}

.Style .leftSlider .left02 {
    background: url(../img/bob.jpg) no-repeat center center/cover;
}

.Style .leftSlider .left03 {
    background: url(../img/medi.jpg) no-repeat center center/cover;
}

.Style .leftSlider .left04 {
    background: url(../img/long.jpg) no-repeat center center/cover;
}

.leftArrows {
    font-size: 80px;
    color: #fff;
    z-index: 999;
}

.leftArrows i:nth-child(1) {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ddd;
    cursor: pointer;
    z-index: 1;
}

.leftArrows i:nth-child(1):hover {
    background: rgb(0, 0, 0, 0.8);
}

.leftArrows i:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 90px;
    background: #ddd;
    cursor: pointer;
    z-index: 1;
}

.leftArrows i:nth-child(2):hover {
    background: rgb(0, 0, 0, 0.8);
}

footer {
    padding: 60px 0;
    color: #aaa;
    background: #333;
}

footer img {
    width: 150px;
}

footer .container ul li {
    display: inline-block;
    position: relative;
    letter-spacing: -0.025em;
    line-height: 1.2;
}

footer .container ul li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #666;
    margin: 0 15px;
}

footer .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
}

footer .top>a {
    display: flex;
}

footer .top ul {
    font-size: 15px;
    font-weight: 600;
    color: #ccc;
}

footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    /* font-family: 'Noto Sans KR', sans-serif; */
}

footer .bottom ul {
    line-height: 1.45;
    margin: 0 0 10px 0;
}

footer .bottom .sns {
    font-size: 20px;
    margin: 0 10px 0 0;
}

footer .sns a:nth-child(3) i {
    margin: 0 2px 0 0;
}

/* up down
.leftArrows a:nth-child(1) {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.leftArrows a:nth-child(1):hover {
    font-size: 80px;
    color: rgb(0, 0, 0, 0.6);
    z-index: 999;
}

.leftArrows a:nth-child(2) {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.leftArrows a:nth-child(2):hover {
    font-size: 100px;
    color: rgb(0, 0, 0, 0.6);
    z-index: 999;
} */