@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* * {
    outline: 1px solid #f00;
} */



/* 20220726. tae header */


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 1800px;
    margin: 0 auto;
}

.container {
    width: 1800px;
    margin: 0 auto;
}

.header .container {
    position: absolute;
    z-index: 999;
}

.gnb_top {
    display: flex;
    justify-content: space-between;
    line-height: 42px;
    font-size: 15px;
    font-weight: 300px;
    color: #ececec;
    border-bottom: 1px solid rgb(238, 238, 238, 0.2);
}

.gnb_top h2 {
    width: 20%;
    filter: opacity(0.7);
}

.gnb_top h2 img {
    width: 180px;
    align-items: center;
    padding: 0 0 4px 0;
}

.gnb_top ul {
    display: flex;
    gap: 30px;

}

.gnb_top ul:nth-child(2) {
    justify-content: center;
    width: 60%;
}

.gnb_top ul:nth-child(3) {
    justify-content: flex-end;
    width: 20%;
}

.header .gnb {
    display: flex;
    justify-content: space-between;
}

.gnb>ul {
    display: flex;
    gap: 50px;
}

.gnb .gLeft {
    width: 40%;
}

.gnb h1 {
    text-align: center;
    line-height: 100px;
    width: 20%;
}

.gnb h1 img {
    width: 200px;
}

.gnb .gRight {
    justify-content: flex-end;
    width: 40%;
}

.gnb>ul>li>a {
    display: block;
    font-size: 19px;
    font-weight: 100px;
    color: #fff;
}

.gnb>ul>li {
    position: relative;
    line-height: 100px;

}

.gnb>ul>li .smenu {
    position: absolute;
    top: 100px;
    left: -50px;
    width: 200px;
    padding: 0 20px;
    /* white-space: nowrap; */
    height: 0;
    overflow: hidden;
    line-height: 1.4;
    transition: 0.5s;
}

.gnb>ul>li:hover .smenu {
    height: 200px;
    background: #fff;
    border: 1px solid #ddd;
}

.gnb>ul>li:hover .smenu {
    background: #fff;
}


/* 20220726. tae main_visual */


.main_visual {
    height: 90vh;
}


/* 20220726. tae notice  */

.notice {
    position: relative;
}

.notice .container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: -150px;
    left: 50%;
    height: 100px;
    gap: 30px;
    padding: 10px;
    transform: translateX(-50%);
    border-radius: 10px;
    background: #fff;
    text-align: center;
    justify-content: center;
    vertical-align: middle;

}

.notice .container div {
    padding: 10px 30px;
}

.notice p {
    font-size: 17px;
}

.notice h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 700;
}

.notice .stitle {
    font-size: 15px;
}

.notice strong {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #134ef6;
}

.notice .rest p:nth-child(2) {
    color: #134ef6;
}

.notice .festival p:nth-child(1) {
    color: #333;
    font-weight: 700;
}

.weather,
.today,
.rest,
.festival,
.congestion,
.water {
    display: flex;
    gap: 20px;
    line-height: 60px;
    font-size: 17px;
}

/* 20220726. tae new_popup  */

.new_popup .container {
    display: flex;
    padding: 100px 40px;
    gap: 50px;

}

.new_popup .container .new {
    flex: 1;
    width: 70%;

}

.new_popup .container .new_top {
    display: flex;
    justify-content: space-between;
}

.new_popup .container .new_top .new_tap {
    display: flex;
    gap: 30px;
}


.new_popup .container h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 40px 0;
}

.new_popup .container h3::after {
    content: "";
    width: 100px;
    height: 1px;
    background: #333;
}

.new_popup .container .new_bottom {
    display: flex;
    gap: 50px;
}

.new_popup .container .new_bottom div {
    flex: 1;
}

.new_popup .new_bottom p:nth-child(1) {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.new_popup .new_bottom p:nth-child(2) {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.5;
    height: 6.0;
    /* 3라인을 자르기 때문에 height는 1.5 * 3 = 4.5 */
}

.popup .new_bottom p:nth-child(3) {
    font-size: 13px;
    font-weight: 300;

}

.popup {
    width: 20%;
}

.popup .banner_slider figure {
    height: 150px;
}

.popup .banner_slider .banner01 {
    background: url(../img/banner01.jpg) no-repeat center center/cover;
}

.popup .banner_slider .banner02 {
    background: url(../img/banner02.jpg) no-repeat center center/cover;
}

.popup .banner_slider .banner03 {
    background: url(../img/banner03.jpg) no-repeat center center/cover;
}

.popup .banner_slider .banner04 {
    background: url(../img/banner04.jpg) no-repeat center center/cover;
}